In [11]:
from itertools import combinations
from math import comb

import numpy as np
import pandas as pd
from tqdm import tqdm

In [12]:
votes = pd.read_csv('H117_votes.csv', dtype={'icpsr': 'int'})
bill_data = pd.read_csv('H117_rollcalls.csv')
members = pd.read_csv('H117_members.csv', dtype={'icpsr': 'int'})

In [13]:
bill_data = bill_data[['rollnumber', 'date', 'yea_count', 'nay_count', 'vote_desc', 'vote_question']]
bill_data

,rollnumber,date,yea_count,nay_count,vote_desc,vote_question
0,1,2021-01-03,216,211,NaN,Election of the Speaker
1,2,2021-01-03,371,2,Authorizing and directing the Speaker to admin...,On Agreeing to the Resolution
2,3,2021-01-04,214,204,Adopting the Rules of the House of Representat...,On Motion to Table the Motion to Postpone to a...
3,4,2021-01-04,214,196,Adopting the Rules of the House of Representat...,Table Motion to Refer
4,5,2021-01-04,217,204,Adopting the Rules of the House of Representat...,On Ordering the Previous Question
...,...,...,...,...,...,...
991,992,2022-12-22,337,79,Durbin Feeling Native American Languages Act o...,On Motion to Suspend the Rules and Pass
992,993,2022-12-22,380,35,Student Veteran Emergency Relief Act,On Motion to Suspend the Rules and Concur in t...
993,994,2022-12-23,215,206,Providing for consideration of the Senate amen...,On Agreeing to the Resolution
994,995,2022-12-23,193,227,NaN,On Motion to Adjourn
995,996,2022-12-23,225,201,"To amend section 1115 of title 31, United Stat...",On Motion to Concur in the Senate Adt to the H...

In [14]:
is_yea = {1, 2, 3}
votes['vote'] = votes.cast_code.isin(is_yea)
votes = votes[['rollnumber', 'icpsr', 'vote']]
votes

        rollnumber  icpsr   vote
0                1  14066  False
1                1  14854  False
2                1  14863  False
3                1  14873   True
4                1  15019   True
...            ...    ...    ...
428966         996  31103   True
428967         996  39301   True
428968         996  39305   True
428969         996  39307   True
428970         996  91980  False

[428971 rows x 3 columns]

In [15]:
member_vote_table = pd.pivot_table(votes, values='vote', columns='rollnumber', index='icpsr', fill_value=0)
member_vote_table

rollnumber,1,2,3,4,5,6,7,8,9,10,...,987,988,989,990,991,992,993,994,995,996
icpsr,,,,,,,,,,,,,,,,,,,,,
14066,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14854,0,1,0,0,0,1,0,1,1,1,...,1,1,1,1,1,1,1,0,1,0
14863,0,1,0,0,0,1,0,1,0,0,...,1,1,1,1,1,1,1,0,1,0
14873,1,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,0,1
15019,1,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39305,1,1,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,0,1
39307,1,0,1,1,1,0,1,1,0,0,...,1,1,1,1,1,1,1,1,0,1
91980,0,1,0,0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,1,0
99912,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
99913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
members = members[members.chamber.isin(['House'])]
party_dict = {100: 'dem', 200: 'rep'}
members['party'] = members.party_code.map(party_dict)
members = members[['icpsr', 'party', 'bioname', 'state_abbrev', 'nominate_dim1', 'nominate_dim2']]
members = members.rename(columns={'state_abbrev': 'state', 'bioname': 'name', 'nominate_dim1': 'dim1', 'nominate_dim2': 'dim2'})
members

     icpsr party                 name state   dim1   dim2
2    20301   rep  ROGERS, Mike Dennis    AL  0.362  0.462
3    21102   dem        SEWELL, Terri    AL -0.394  0.397
4    21193   rep           BROOKS, Mo    AL  0.652 -0.417
5    21500   rep   PALMER, Gary James    AL  0.677  0.095
6    22108   rep       CARL, Jerry L.    AL  0.507  0.535
..     ...   ...                  ...   ...    ...    ...
452  21970   rep         STEIL, Bryan    WI  0.413  0.045
453  21989   rep   TIFFANY, Thomas P.    WI  0.643 -0.206
454  22115   rep    FITZGERALD, Scott    WI  0.612  0.233
455  29769   dem            KIND, Ron    WI -0.260 -0.080
456  21710   rep          CHENEY, Liz    WY  0.405  0.820

[455 rows x 6 columns]

In [17]:
def entropy(bills):
    restricted_votes = member_vote_table[list(bills)]
    counts = restricted_votes.value_counts()
    as_proportions = counts / counts.sum()
    return (- np.log2(as_proportions) * as_proportions).sum()

In [18]:
unique_bills = list(votes.rollnumber.unique())


def optimal_entropy(k):
    return max((combo for combo in tqdm(combinations(unique_bills, r=k), total=comb(len(unique_bills), k))),
               key=entropy)


def greedy_entropy(k):
    cur = []
    remaining_bills = set(unique_bills)
    for _ in tqdm(range(k)):
        best_addition = max((bill for bill in remaining_bills), key=lambda bill: entropy(cur + [bill]))
        cur.append(best_addition)
        remaining_bills.remove(best_addition)
    return cur

In [19]:
# best_two = optimal_entropy(2) # [828, 864]
best_two = [828, 864]
print(entropy(best_two))
print(best_two)

1.9119853345466924
[828, 864]

In [20]:
greedy_five = greedy_entropy(5)
print([entropy(greedy_five[:i]) for i in range(1, 6)])
print(greedy_five)

100%|██████████| 5/5 [00:08<00:00,  1.71s/it]

[0.9999965460782858, 1.8832425425314643, 2.6946189479224607, 3.4714702951135163, 4.171985222752786]
[40, 864, 632, 141, 786]

In [232]:
def bill_details(bills):
    return bill_data[bill_data.rollnumber.isin(bills)]

In [233]:
bill_details(best_two)

,rollnumber,date,yea_count,nay_count,vote_desc,vote_question
827,828,2022-07-20,238,191,NaN,On Agreeing to the Amendment
863,864,2022-07-29,303,89,To include certain computer-related projects i...,On Motion to Suspend the Rules and Pass

In [222]:
bill_details(greedy_five)

,rollnumber,date,yea_count,nay_count,vote_desc,vote_question
39,40,2021-02-26,229,198,NaN,On Agreeing to the Amendment
140,141,2021-05-13,323,93,Behavioral Intervention Guidelines Act of 2021,On Motion to Suspend the Rules and Pass
631,632,2022-05-16,313,105,DHS Roles and Responsibilities in Cyber Space Act,"On Motion to Suspend the Rules and Pass, as Am..."
785,786,2022-07-14,244,179,NaN,On Agreeing to the Amendment
863,864,2022-07-29,303,89,To include certain computer-related projects i...,On Motion to Suspend the Rules and Pass

In [234]:
def display_member_data(bills, num=10):
    for response, ids in member_vote_table.groupby(bills).groups.items():
        print(response, len(ids))
        print(members[members.icpsr.isin(ids)].drop(['icpsr'], axis=1).head(num))
display_member_data(best_two)

(0, 0) 62
   party                         bioname state   dim1   dim2
9    rep             YOUNG, Donald Edwin    AK  0.283  0.022
10   dem           PELTOLA, Mary Sattler    AK -0.126  0.298
11   rep  RADEWAGEN, Aumua Amata Coleman    AS  0.403  0.076
25   dem                   PELOSI, Nancy    CA -0.490 -0.203
28   rep                    NUNES, Devin    CA  0.450  0.223
33   rep                 MCCARTHY, Kevin    CA  0.457  0.221
65   dem                    JACOBS, Sara    CA -0.332 -0.475
76   dem                    LEE, Barbara    CA -0.679 -0.576
81   rep            BUCK, Kenneth Robert    CO  0.712 -0.431
85   dem                  DeGETTE, Diana    CO -0.431 -0.306
(0, 1) 157
   party              bioname state   dim1   dim2
2    rep  ROGERS, Mike Dennis    AL  0.362  0.462
4    rep           BROOKS, Mo    AL  0.652 -0.417
5    rep   PALMER, Gary James    AL  0.677  0.095
6    rep       CARL, Jerry L.    AL  0.507  0.535
7    rep         MOORE, Barry    AL  0.640 -0.119
8    rep     ADERHOLT, Robert    AL  0.384  0.570
14   rep          GOSAR, Paul    AZ  0.698 -0.478
15   rep    SCHWEIKERT, David    AZ  0.573 -0.288
17   rep     BIGGS, Andrew S.    AZ  0.838 -0.546
19   rep        LESKO, Debbie    AZ  0.615 -0.097
(1, 0) 92
   party                 bioname state   dim1   dim2
12   dem       GRIJALVA, Raúl M.    AZ -0.598 -0.251
32   dem         McNERNEY, Jerry    CA -0.263 -0.159
38   dem             BASS, Karen    CA -0.584 -0.098
40   dem          HUFFMAN, Jared    CA -0.433 -0.560
46   dem              RUIZ, Raul    CA -0.248  0.055
47   dem            TAKANO, Mark    CA -0.464 -0.276
48   dem         LOWENTHAL, Alan    CA -0.449 -0.384
51   dem  DESAULNIER, Mark James    CA -0.527 -0.369
55   dem  BARRAGÁN, Nanette Diaz    CA -0.516 -0.038
60   dem            GOMEZ, Jimmy    CA -0.572 -0.237
(1, 1) 146
   party                bioname state   dim1   dim2
3    dem          SEWELL, Terri    AL -0.394  0.397
13   dem       KIRKPATRICK, Ann    AZ -0.169 -0.010
16   dem         GALLEGO, Ruben    AZ -0.446  0.051
18   dem  O'HALLERAN, Thomas C.    AZ -0.198  0.180
20   dem          STANTON, Greg    AZ -0.287  0.212
26   dem           SCHIFF, Adam    CA -0.350 -0.133
27   rep          ISSA, Darrell    CA  0.491 -0.030
29   dem      SÁNCHEZ, Linda T.    CA -0.508 -0.139
30   dem             COSTA, Jim    CA -0.193  0.457
31   dem          MATSUI, Doris    CA -0.435 -0.156

In [235]:
display_member_data(greedy_five)

(0, 0, 0, 0, 0) 19
    party                         bioname state   dim1   dim2
10    dem           PELTOLA, Mary Sattler    AK -0.126  0.298
11    rep  RADEWAGEN, Aumua Amata Coleman    AS  0.403  0.076
25    dem                   PELOSI, Nancy    CA -0.490 -0.203
81    rep            BUCK, Kenneth Robert    CO  0.712 -0.431
92    dem          NORTON, Eleanor Holmes    DC -0.498 -0.047
135   dem            SAN NICOLAS, Michael    GU -0.410 -0.520
167   rep                YAKYM, Rudy, III    IN  0.456  0.636
183   dem                RICHMOND, Cedric    LA -0.486  0.332
230   rep                   FINSTAD, Brad    MN  0.555  0.223
293   dem                   RYAN, Patrick    NY -0.265  0.268
(0, 0, 0, 0, 1) 3
    party                  bioname state   dim1   dim2
132   rep  GREENE, Marjorie Taylor    GA  0.800 -0.600
181   rep           MASSIE, Thomas    KY  0.680 -0.733
317   rep              JORDAN, Jim    OH  0.717 -0.200
(0, 0, 0, 1, 0) 13
    party              bioname state   dim1   dim2
9     rep  YOUNG, Donald Edwin    AK  0.283  0.022
28    rep         NUNES, Devin    CA  0.450  0.223
127   rep       ALLEN, Rick W.    GA  0.695  0.221
131   rep     CLYDE, Andrew S.    GA  0.805 -0.130
225   rep        HAGEDORN, Jim    MN  0.477  0.345
239   rep          LONG, Billy    MO  0.544  0.244
244   rep    FORTENBERRY, Jeff    NE  0.304 -0.061
273   rep   REED, Thomas W. II    NY  0.269  0.120
321   rep       STIVERS, Steve    OH  0.300  0.269
364   rep         DUNCAN, Jeff    SC  0.700 -0.082
(0, 0, 0, 1, 1) 1
   party         bioname state   dim1   dim2
97   rep  BILIRAKIS, Gus    FL  0.408  0.016
(0, 0, 1, 0, 0) 2
    party                      bioname state   dim1   dim2
119   dem  CHERFILUS-MCCORMICK, Sheila    FL -0.642  0.358
301   rep           FOXX, Virginia Ann    NC  0.626  0.154
(0, 0, 1, 0, 1) 4
    party                 bioname state   dim1   dim2
269   dem  STANSBURY, Melanie Ann    NM -0.483 -0.181
307   rep             BISHOP, Dan    NC  0.727 -0.305
326   rep        DAVIDSON, Warren    OH  0.666 -0.346
433   rep               GOOD, Bob    VA  0.800 -0.600
(0, 0, 1, 1, 0) 7
    party             bioname state   dim1   dim2
33    rep     MCCARTHY, Kevin    CA  0.457  0.221
142   rep     KINZINGER, Adam    IL  0.234  0.382
238   rep     HARTZLER, Vicky    MO  0.478  0.229
328   rep   GONZALEZ, Anthony    OH  0.240  0.315
334   rep         HERN, Kevin    OK  0.687 -0.050
384   rep  McCAUL, Michael T.    TX  0.422  0.122
454   rep   FITZGERALD, Scott    WI  0.612  0.233
(0, 0, 1, 1, 1) 3
    party                     bioname state   dim1   dim2
126   rep        LOUDERMILK, Barry D.    GA  0.684 -0.024
128   rep  FERGUSON, Anderson Drew IV    GA  0.602  0.134
182   rep              SCALISE, Steve    LA  0.556  0.167
(0, 1, 0, 0, 0) 9
    party          bioname state   dim1   dim2
161   rep  BANKS, James E.    IN  0.645  0.014
195   rep     HARRIS, Andy    MD  0.674 -0.397
232   rep     KELLY, Trent    MS  0.633  0.279
247   rep      FLOOD, Mike    NE  0.500  0.822
330   rep      CAREY, Mike    OH  0.415  0.011
386   rep     WEBER, Randy    TX  0.731  0.025
394   rep   CLOUD, Michael    TX  0.683 -0.296
411   rep    FLORES, Mayra    TX  0.336  0.623
414   rep   SESSIONS, Pete    TX  0.591  0.135
(0, 1, 0, 0, 1) 10
    party                     bioname state   dim1   dim2
4     rep                  BROOKS, Mo    AL  0.652 -0.417
14    rep                 GOSAR, Paul    AZ  0.698 -0.478
17    rep            BIGGS, Andrew S.    AZ  0.838 -0.546
69    rep              CONWAY, Connie    CA  0.376  0.295
84    rep             BOEBERT, Lauren    CO  0.753 -0.554
153   rep             MILLER, Mary E.    IL  0.798 -0.243
243   rep  ROSENDALE, Matthew M., Sr.    MT  0.754 -0.571
344   rep                PERRY, Scott    PA  0.672 -0.442
376   rep           BURCHETT, Timothy    TN  0.667 -0.338
429   rep             CLINE, Benjamin    VA  0.718 -0.200
(0, 1, 0, 1, 0) 38
    party              bioname state   dim1   dim2
5     rep   PALMER, Gary James    AL  0.677  0.095
6     rep       CARL, Jerry L.    AL  0.507  0.535
15    rep    SCHWEIKERT, David    AZ  0.573 -0.288
21    rep       CRAWFORD, Rick    AR  0.444  0.430
116   rep   FRANKLIN, C. Scott    FL  0.600  0.117
123   rep        SCOTT, Austin    GA  0.560  0.226
124   rep        CARTER, Buddy    GA  0.557  0.308
138   rep     FULCHER, Russell    ID  0.641 -0.011
139   rep  SIMPSON, Michael K.    ID  0.301  0.288
159   rep       BUCSHON, Larry    IN  0.408  0.270
(0, 1, 0, 1, 1) 9
    party              bioname state   dim1   dim2
19    rep        LESKO, Debbie    AZ  0.615 -0.097
108   rep  MAST, Brian Jeffery    FL  0.465 -0.385
114   rep         CAMMACK, Kat    FL  0.592 -0.202
115   rep       DONALDS, Byron    FL  0.650 -0.162
231   rep      PALAZZO, Steven    MS  0.535  0.450
320   rep        JOHNSON, Bill    OH  0.424  0.269
356   rep          MEUSER, Dan    PA  0.498  0.240
382   rep       GOHMERT, Louie    TX  0.644 -0.406
426   rep  GRIFFITH, H. Morgan    VA  0.532 -0.396
(0, 1, 1, 0, 0) 5
    party        bioname state   dim1   dim2
188   dem   CARTER, Troy    LA -0.489  0.302
287   rep  JACOBS, Chris    NY  0.306  0.049
377   rep    GREEN, Mark    TN  0.674  0.017
378   rep     ROSE, John    TN  0.674  0.088
410   rep   ELLZEY, Jake    TX  0.518  0.356
(0, 1, 1, 0, 1) 8
    party               bioname state   dim1   dim2
35    rep       McCLINTOCK, Tom    CA  0.688 -0.411
64    rep          GARCIA, Mike    CA  0.373  0.083
100   rep    WEBSTER, Daniel A.    FL  0.527 -0.099
106   rep  GAETZ, Matthew L. II    FL  0.599 -0.635
271   dem  CLARKE, Yvette Diane    NY -0.612 -0.229
277   rep         ZELDIN, Lee M    NY  0.397 -0.129
329   dem    BROWN, Shontel  M.    OH -0.521 -0.013
413   dem   JACKSON LEE, Sheila    TX -0.460  0.124
(0, 1, 1, 1, 0) 76
   party                  bioname state   dim1   dim2
2    rep      ROGERS, Mike Dennis    AL  0.362  0.462
7    rep             MOORE, Barry    AL  0.640 -0.119
8    rep         ADERHOLT, Robert    AL  0.384  0.570
22   rep            WOMACK, Steve    AR  0.352  0.587
23   rep             HILL, French    AR  0.436  0.276
24   rep  WESTERMAN, Bruce Eugene    AR  0.545  0.369
27   rep            ISSA, Darrell    CA  0.491 -0.030
39   rep            LaMALFA, Doug    CA  0.530  0.061
73   rep             CALVERT, Ken    CA  0.348  0.231
79   rep            LAMBORN, Doug    CO  0.667  0.223
(0, 1, 1, 1, 1) 21
    party                 bioname state   dim1   dim2
43    rep       VALADAO, David G.    CA  0.265  0.386
66    rep              KIM, Young    CA  0.278  0.250
68    rep         STEEL, Michelle    CA  0.351  0.345
93    rep      DIAZ-BALART, Mario    FL  0.284  0.129
96    rep     BUCHANAN, Vernon G.    FL  0.363 -0.107
98    rep             POSEY, Bill    FL  0.526 -0.337
110   rep  RUTHERFORD, John Henry    FL  0.436  0.026
112   rep         STEUBE, William    FL  0.686 -0.274
117   rep      GIMENEZ, Carlos A.    FL  0.309  0.146
118   rep   SALAZAR, Maria Elvira    FL  0.266  0.099
(1, 0, 0, 0, 0) 4
    party                bioname state   dim1   dim2
120   dem  HASTINGS, Alcee Lamar    FL -0.564  0.157
266   dem         HAALAND, Debra    NM -0.332 -0.233
319   dem       FUDGE, Marcia L.    OH -0.581  0.140
390   dem          VELA, Filemon    TX -0.311  0.407
(1, 0, 0, 0, 1) 5
    party                 bioname state   dim1   dim2
70    dem          WATERS, Maxine    CA -0.656 -0.075
91    dem   BLUNT ROCHESTER, Lisa    DE -0.335 -0.143
288   dem          BOWMAN, Jamaal    NY -0.321 -0.947
351   dem       SCANLON, Mary Gay    PA -0.437 -0.065
428   dem  MCEACHIN, Aston Donald    VA -0.381 -0.017
(1, 0, 0, 1, 0) 1
    party                  bioname state   dim1   dim2
308   rep  MURPHY, Gregory Francis    NC  0.497  0.025
(1, 0, 0, 1, 1) 12
    party                                  bioname state   dim1   dim2
32    dem                          McNERNEY, Jerry    CA -0.263 -0.159
60    dem                             GOMEZ, Jimmy    CA -0.572 -0.237
85    dem                           DeGETTE, Diana    CO -0.431 -0.306
95    dem                            CASTOR, Kathy    FL -0.438  0.054
157   dem                    SCHAKOWSKY, Janice D.    IL -0.604 -0.271
213   dem                          DINGELL, Debbie    MI -0.405 -0.144
255   dem                      PALLONE, Frank, Jr.    NJ -0.404 -0.172
256   dem                             SIRES, Albio    NJ -0.404  0.098
272   dem                              TONKO, Paul    NY -0.419 -0.263
300   dem  BUTTERFIELD, George Kenneth, Jr. (G.K.)    NC -0.404  0.184
(1, 0, 1, 0, 0) 2
    party                 bioname state   dim1   dim2
196   dem  BROWN, Anthony Gregory    MD -0.344 -0.063
443   dem             SMITH, Adam    WA -0.287 -0.162
(1, 0, 1, 0, 1) 39
    party                 bioname state   dim1   dim2
38    dem             BASS, Karen    CA -0.584 -0.098
40    dem          HUFFMAN, Jared    CA -0.433 -0.560
51    dem  DESAULNIER, Mark James    CA -0.527 -0.369
55    dem  BARRAGÁN, Nanette Diaz    CA -0.516 -0.038
76    dem            LEE, Barbara    CA -0.679 -0.576
89    dem        DeLAURO, Rosa L.    CT -0.415 -0.117
90    dem         LARSON, John B.    CT -0.397 -0.048
102   dem           FRANKEL, Lois    FL -0.402 -0.070
133   dem        WILLIAMS, Nikema    GA -0.442 -0.385
141   dem           QUIGLEY, Mike    IL -0.322 -0.264
(1, 0, 1, 1, 0) 7
    party                      bioname state   dim1   dim2
82    dem                  CROW, Jason    CO -0.288  0.264
177   dem                YARMUTH, John    KY -0.378 -0.275
260   dem                    KIM, Andy    NJ -0.304  0.290
285   dem             DELGADO, Antonio    NY -0.233  0.277
369   dem          CLYBURN, James Enos    SC -0.465  0.252
417   dem       JOHNSON, Eddie Bernice    TX -0.485  0.198
425   dem  CONNOLLY, Gerald E. (Gerry)    VA -0.306 -0.025
(1, 0, 1, 1, 1) 32
   party                   bioname state   dim1   dim2
12   dem         GRIJALVA, Raúl M.    AZ -0.598 -0.251
46   dem                RUIZ, Raul    CA -0.248  0.055
47   dem              TAKANO, Mark    CA -0.464 -0.276
48   dem           LOWENTHAL, Alan    CA -0.449 -0.384
62   dem               LEVIN, Mike    CA -0.357  0.177
63   dem             PORTER, Katie    CA -0.203 -0.212
65   dem              JACOBS, Sara    CA -0.332 -0.475
74   dem              LOFGREN, Zoe    CA -0.400 -0.433
78   dem  NAPOLITANO, Grace Flores    CA -0.448 -0.247
83   dem            NEGUSE, Joseph    CO -0.364 -0.312
(1, 1, 0, 0, 1) 4
    party          bioname state   dim1   dim2
146   dem  KELLY, Robin L.    IL -0.464 -0.016
155   dem   RUSH, Bobby L.    IL -0.479 -0.203
399   dem   GARCIA, Sylvia    TX -0.811  0.513
450   rep  GROTHMAN, Glenn    WI  0.599 -0.259
(1, 1, 0, 1, 0) 4
    party              bioname state   dim1   dim2
67    rep       OBERNOLTE, Jay    CA  0.332  0.172
224   dem        CRAIG, Angela    MN -0.277  0.663
265   rep  VAN DREW, Jefferson    NJ  0.361 -0.500
338   dem       SCHRADER, Kurt    OR -0.182  0.054
(1, 1, 0, 1, 1) 12
    party                   bioname state   dim1   dim2
31    dem             MATSUI, Doris    CA -0.435 -0.156
50    dem             PETERS, Scott    CA -0.184 -0.032
71    dem       ESHOO, Anna Georges    CA -0.380 -0.408
111   dem      SOTO, Darren Michael    FL -0.372  0.157
205   dem              TRAHAN, Lori    MA -0.440 -0.125
208   rep  UPTON, Frederick Stephen    MI  0.320 -0.355
252   dem        KUSTER, Ann McLane    NH -0.258 -0.102
311   dem          ROSS, Deborah K.    NC -0.462  0.263
389   dem              VEASEY, Marc    TX -0.402  0.333
398   dem       FLETCHER, Elizabeth    TX -0.425  0.905
(1, 1, 1, 0, 0) 6
    party                bioname state   dim1   dim2
3     dem          SEWELL, Terri    AL -0.394  0.397
16    dem         GALLEGO, Ruben    AZ -0.446  0.051
18    dem  O'HALLERAN, Thomas C.    AZ -0.198  0.180
109   dem      MURPHY, Stephanie    FL -0.161  0.123
190   dem          GOLDEN, Jared    ME -0.117  0.375
442   dem    STRICKLAND, Marilyn    WA -0.428  0.373
(1, 1, 1, 0, 1) 14
    party                                     bioname state   dim1   dim2
34    dem  SPEIER, Karen Lorraine Jacqueline (Jackie)    CA -0.381 -0.410
36    dem                                   CHU, Judy    CA -0.489 -0.373
45    dem                              CÁRDENAS, Tony    CA -0.388  0.008
86    dem                               COURTNEY, Joe    CT -0.343  0.022
88    dem                               HAYES, Jahana    CT -0.369 -0.105
101   dem                           WILSON, Frederica    FL -0.479 -0.011
107   dem                          LAWSON, Alfred Jr.    FL -0.260  0.076
214   dem                          LAWRENCE, Brenda L    MI -0.448 -0.039
264   dem                          PAYNE, Donald, Jr.    NJ -0.520 -0.107
324   dem                               BEATTY, Joyce    OH -0.437  0.042
(1, 1, 1, 1, 0) 20
    party                 bioname state   dim1   dim2
37    dem         GARAMENDI, John    CA -0.308 -0.099
56    dem         CARBAJAL, Salud    CA -0.302  0.097
57    dem       CORREA, Jose Luis    CA -0.283  0.253
59    dem    PANETTA, James Varni    CA -0.293  0.100
87    dem         HIMES, James A.    CT -0.239 -0.234
104   dem  DEMINGS, Valdez Butler    FL -0.322 -0.006
121   dem            SCOTT, David    GA -0.304  0.163
122   dem           JOHNSON, Hank    GA -0.470 -0.006
130   dem      BOURDEAUX, Carolyn    GA -0.303  0.463
150   dem            CASTEN, Sean    IL -0.681  0.600
(1, 1, 1, 1, 1) 67
   party             bioname state   dim1   dim2
13   dem    KIRKPATRICK, Ann    AZ -0.169 -0.010
20   dem       STANTON, Greg    AZ -0.287  0.212
26   dem        SCHIFF, Adam    CA -0.350 -0.133
29   dem   SÁNCHEZ, Linda T.    CA -0.508 -0.139
30   dem          COSTA, Jim    CA -0.193  0.457
41   dem           BERA, Ami    CA -0.236  0.012
42   dem      SWALWELL, Eric    CA -0.365 -0.091
44   dem     BROWNLEY, Julia    CA -0.289  0.053
49   dem        VARGAS, Juan    CA -0.404  0.073
52   dem  AGUILAR, Peter Rey    CA -0.300  0.135